/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- 
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
--------------------------------------------------
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; }/* Vertically center the text there */



/*** GET PREMIUM PAGE ***/

.premium {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    .premium > img {
        width: 100%;
        height: auto;
    }

/* Text */
.premium-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    margin-bottom: 0;
}

.premium-p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #534F4F;
}

.premium-ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #000000;
}

.fa-ul {
    margin-left: 30px !important;
}

.premium-ul > li {
    padding-bottom: 20px;
}

span {
    color: #F15D68;
}

/* Button */
.premium-button {
    width: 394px;
    height: 71px;
    background-color: #F15D68;
    border: none;
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: white;
    margin-bottom: 50px;
}

    .premium-button:hover {
        cursor: pointer;
        box-shadow: 0px 15px 20px rgba(241, 93, 104, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

@media screen and (max-width: 820px) {
    .premium {
        grid-template-columns: auto;
    }

        .premium > div {
            margin: 0 20px 0 15px;
        }

    .premium-p {
        margin-top: 0;
    }
}

/*** DONATE PAGE ***/

.donate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 45px 0 45px;
}

    .donate > img {
        width: 100%;
        height: auto;
    }

.donate-p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
}



@media screen and (max-width: 1000px) {
    .grid-row-one {
        grid-row: 1;
    }

    .donate {
        grid-template-columns: 1fr;
        margin-top: 0px;
    }

    .donate-p {
        margin-top: 0;
    }
}

@media screen and (max-width: 739px) {
    .donate {
        margin: 0 15px 0 15px;
    }
}