
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="browseflex">

    <section>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1094874726.png" alt="Smartphone" />
        <button class="premium-button">Like</button>
    </section>

    <section>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1094874726.png" alt="Smartphone" />
        <button class="premium-button">Like</button>
    </section>

    <section>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1094874726.png" alt="Smartphone" />
        <button class="premium-button">Like</button>
    </section>

    <section>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1094874726.png" alt="Smartphone" />
        <button class="premium-button">Like</button>
    </section>

    <section>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1094874726.png" alt="Smartphone" />
        <button class="premium-button">Like</button>
    </section>

    <section>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1094874726.png" alt="Smartphone" />
        <button class="premium-button">Like</button>
    </section>

</div>

