
@{
    ViewData["Title"] = "Donate";
}

<article class="donate">
    <div>
        <h1 class="premium-headline">Donate <span><i class="fas fa-heart"></i></span></h1>
        <p class="donate-p">
            If you already have <span>premium</span> and you would like to support us and what we do, in more ways, you can always <span>leave a tip</span> showing your appreciation. It will greatly help us in our mission to bring more animals together, in a fun and easy way. And it would also help us to keep doing what we do :)
        </p>
        <p class="donate-p">We are happy to have you in the community of <span>Tindyr</span>.</p>
        <button class="premium-button">Proceed to tip</button>
    </div>

    <img class="grid-row-one" src="~/images/cute_dog4.png" alt="dog">
</article>

