@{
    ViewData["Title"] = "Get Premium";
}

<article class="premium">
    <img src="~/images/cute_dog2.png" alt="dog">
    <div>
        <h1 class="premium-headline">Get <span>Premium!</span></h1>
        <p class="premium-p">
            The fun is about to get so much better.
            By becoming a <span>premium</span> user you get access to awesome benefits throughout the website!
        </p>
        <ul class="premium-ul fa-ul">
            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span>Unlimited likes per day</li>
            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span>Unlimited reveals of owner's information per day</li>
            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span>Feature your pet on the front page and on top of search results</li>
            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span>Get rid of website ads</li>
        </ul>

        <button class="premium-button">Proceed to payment</button>
    </div>
</article>
