@addTagHelper *,Microsoft.AspNetCore.MVC.TagHelpers
@model Tindyr.Models.Auth.LogInModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <article class="login">
        <h1>Login</h1>
        <p>Welcome back! Login to access your profile and start liking pets. Did you <span>forget your password?</span></p>
        <form class="login-form" autocomplete="off" asp-action="LogIn" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <fieldset>
                <section>
                    <label for="Username"></label>
                    <input type="text" asp-for="Username" placeholder="Username">
                    <i class="fa fa-fw fa-user"></i>
                    <span asp-validation-for="Username"></span>
                </section>

                <section>
                    <label for="Password"></label>
                    <input type="password" asp-for="Password" placeholder="Password">
                    <i class="fa fa-fw fa-lock"></i>
                    <span asp-validation-for="Password"></span>
                </section>

                <section class="checkbox-container">
                    <input type="checkbox" name="remember-me" value="logged-in" checked="checked"><p>Keep me logged in</p>
                    <span class="checkmark"></span>
                </section>

                <button type="button" class="premium-button">Let's go!</button>
            </fieldset>

        </form>
        <p>If you don't have an account <span><a asp-area="" asp-controller="Auth" asp-action="Register">register here</a></span>.</p>
        
        <p class="text-info">@TempData[Tindyr.Extensions.TempDataVar.Msg]</p>
    </article>

