@addTagHelper *,Microsoft.AspNetCore.MVC.TagHelpers
@model Tindyr.Models.Auth.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<article class="login">
    <h1>Sign up</h1>
    <p>Join the fun community of Tindyr</p>
    <form class="login-form" autocomplete="off" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <fieldset>
            <section>
                <input asp-for="Username" type="text" placeholder="Username">
                <span asp-validation-for="Username"></span>
                <i class="fa fa-fw fa-envelope-open"></i>
            </section>

            <section>
                <input asp-for="ConfirmUsername" type="text" placeholder="Confirm Username" autocomplete="off">
                <span asp-validation-for="ConfirmUsername"></span>
                <i class="fa fa-fw fa-envelope"></i>
            </section>

            <section>
                <input asp-for="Password" type="password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <i class="fa fa-fw fa-unlock"></i>
            </section>

            <section>
                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <i class="fa fa-fw fa-lock"></i>
            </section>

            <button type="button" class="premium-button">Let's go!</button>
        </fieldset>
    </form>
</article>

<p class="text-info">@TempData[Tindyr.Extensions.TempDataVar.Msg]</p>
