@addTagHelper *,Microsoft.AspNetCore.MVC.TagHelpers
@model Tindyr.Models.ProfileEdit.AllUserInformationModel
@{
    ViewData["Title"] = "ProfileEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="ProfileEdit" enctype="multipart/form-data" method="post" class="login-form edit" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <h1>Edit your profile</h1>
        <div class="edit-container">
            <!-- Owner -->
            <article>
                <h2><i class="fas fa-caret-right"></i> Owner</h2>
                <section>
                    <input asp-for="UserProfileModel.FirstName" type="text" placeholder="First Name" autocomplete="off">
                    <span asp-validation-for="UserProfileModel.FirstName" class="text-danger"></span>
                    <i class="fa fa-fw fa-user-alt"></i>
                </section>

                <section>
                    <input asp-for="UserProfileModel.LastName" type="text" placeholder="Last Name" autocomplete="off">
                    <span asp-validation-for="UserProfileModel.LastName" class="text-danger"></span>
                    <i class="fa fa-fw fa-user-alt"></i>
                </section>

                <section>
                    <input asp-for="UserProfileModel.PhoneNumber" type="text" placeholder="Phone number" autocomplete="off">
                    <span asp-validation-for="UserProfileModel.PhoneNumber" class="text-danger"></span>
                    <i class="fa fa-fw fa-phone-alt"></i>
                </section>

                <section>
                    <input asp-for="UserProfileModel.Email" type="text" placeholder="E-mail" autocomplete="off">
                    <span asp-validation-for="UserProfileModel.Email" class="text-danger"></span>
                    <i class="fa fa-fw fa-envelope"></i>
                </section>
            </article>

            <!-- Pet -->
            <article>
                <h2><i class="fas fa-caret-right"></i> Pet</h2>
                <section>
                    <input asp-for="AnimalModel.AnimalName" type="text" placeholder="Name" autocomplete="off">
                    <span asp-validation-for="AnimalModel.AnimalName" class="text-danger"></span>
                    <i class="fa fa-fw fa-dog"></i>
                </section>

                <section>
                    <input asp-for="AnimalModel.AnimalType" type="text" placeholder="Type">
                    <span asp-validation-for="AnimalModel.AnimalType" class="text-danger"></span>
                    <i class="fa fa-fw fa-paw"></i>
                </section>

                <section>
                    <input asp-for="AnimalModel.AnimalGender" type="text" placeholder="Gender">
                    <span asp-validation-for="AnimalModel.AnimalGender" class="text-danger"></span>
                    <i class="fa fa-fw fa-venus-mars"></i>
                </section>

                <section>
                    <input asp-for="AnimalModel.AnimalDateOfBirth" type="text" placeholder="Date of Birth">
                    <span asp-validation-for="AnimalModel.AnimalDateOfBirth" class="text-danger"></span>
                    <i class="fa fa-fw fa-birthday-cake"></i>
                </section>

                <section>
                    <input asp-for="AnimalModel.LookingFor" type="text" placeholder="Looking for">
                    <i class="fa fa-fw fa-binoculars"></i>
                    <span asp-validation-for="AnimalModel.LookingFor" class="text-danger"></span>

                </section>
            </article>

            <article>
                <h2><i class="fas fa-caret-right"></i> Upload Pet Pictures</h2>
                <input asp-for="AnimalModel.Images" type="file" multiple>
                <input asp-for="AnimalModel.CoverImage" type="file">
                <button type="submit" class="premium-button">Let's go!</button>
            </article>

        </div>

    </fieldset>

</form>
