@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<article class="donate">
    <div>
        <h1 class="premium-headline">Hi @User.Identity.Name,</h1>
        <p class="donate-p">
           The team at tindyr wishes you the best experience ever! Do not hesistate to contact us for any issue encountered on our platform. 
        </p>
        @* <button type="" asp-area="" asp-controller="Auth" asp-action="Register" class="premium-button">Sign Up</button>*@

    </div>
    <img class="grid-row-one" src="~/images/dog-with-a-heart.png" alt="dog">



</article>