
@addTagHelper *,Microsoft.AspNetCore.MVC.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tindyr - TEST</title>

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Finger+Paint|Lato|Montserrat|Open+Sans:300,400|Work+Sans:400,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css">

</head>

<body>
    <header>
        <!-- Mini Navigation (Log in), when the user is not logged-->
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="mini-nav">
                <ul>
                    <li>
                        <i class="fas fa-caret-right"></i>
                        <a asp-area="" asp-controller="Auth" asp-action="LogIn">Log in</a>
                    </li>
                </ul>
            </div>
        }

        <!-- Logo and Main navigation, when the user is logged -->
    <nav class="nav-container" id="nav">

        <a asp-area="" asp-controller="Home" asp-action="Index">Tindyr</a>

        @if (User.Identity.IsAuthenticated)
        {
    <ul>

        <li>
            <a asp-area="" asp-controller="Auth" asp-action="LogOut">Log Out</a>
        </li>

        <li>
            <a asp-area="" asp-controller="ProfileEdit" asp-action="ProfileView">Profile</a>
        </li>

        <li>
            <a asp-area="" asp-controller="Home" asp-action="Browse">Find Matches!</a>
        </li>

        <li>
            <a asp-area="" asp-controller="Home" asp-action="MyMatches">My Matches!</a>
        </li>

    </ul>
        }

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fas fa-bars"></i>
        </a>

    </nav>



    </header>

    <section class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </section>

    <footer>
        <section>
            <h3>Tindyr</h3>
            <p>Bringing pets and users closer</p>
            <p class="copyright"><i class="fas fa-copyright"></i> 2019 Tindyr, All Rights Reserved.</p>
        </section>

        <section>
            @*<h4>Product</h4>*@
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="Donate">Donate</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Premium">Get Premium</a></li>
                }
            </ul>
        </section>

        <section>
            <h4>Contact</h4>
            <ul>
                <li>customer-support@tindyr.dk</li>
                <li>+4 8 15 16 23 42</li>
                <li>
                    <i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i> <i class="fab fa-linkedin-in"></i>
                </li>
            </ul>
        </section>

        <p class="copyright"><i class="fas fa-copyright"></i> 2019 Tindyr, All Rights Reserved.</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
