
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <article class="donate">
        <div>
            <h1 class="premium-headline">One last thing @User.Identity.Name,</h1>
            <p class="donate-p">
                Before you can fully utilize our services, make sure all information provided in Profile is correct :)
            </p>
            <button type="button" class="premium-button" title="employs" onclick="GoEdit()" return false>Edit your profile</button>
        </div>
    </article>
